<%@ Page Language="VB" MasterPageFile="~/design/masters/external-login.master" AutoEventWireup="false" CodeFile="default.aspx.vb" Inherits="_default" title="Schneider Electric - One View" %>
<%@ Register Src="~/controls/generic/login.ascx" TagName="login" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="content" Runat="Server">
    <uc1:login ID="Login1" runat="server" />
</asp:Content>

