<%@ Page Language="VB" MasterPageFile="~/design/masters/external.master" AutoEventWireup="false" CodeFile="logindetails.aspx.vb" Inherits="logindetails" title="Untitled Page" %>

<%@ Register Src="~/controls/generic/logindetails.ascx" TagName="logindetails" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="content" Runat="Server">
<uc1:logindetails ID="Logindetails1" runat="server" />
</asp:Content>

