<%@ Page Language="VB" MasterPageFile="~/design/masters/external-login.master" AutoEventWireup="false" CodeFile="login.aspx.vb" Inherits="login" title="Schneider Electric - One View" %>
<%@ Register Src="~/controls/generic/login.ascx" TagName="login" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="content" Runat="Server">
    <uc1:login ID="Login1" runat="server" />
   
   <script language="javascript" type="text/javascript">
   
       if ( window.parent.frames[0] ){
           window.parent.location='/default.aspx';
       }

   </script>
   
   
   
   
    
</asp:Content>

