<%@ Control Language="VB" AutoEventWireup="false" CodeFile="management.ascx.vb" Inherits="design_elements_navigation_management" %>
<h3>Navigation</h3>
<ul class="navigationmenu">
<li><a href="~/logout.aspx">Log Out</a></li>
</ul>
[management]