﻿    body,form,div,span,table,td,tr,th,p,h1,h2,h3,h4,li,ol,br
		{margin: 0pt;padding:0pt;font-family:"cambria";font-size:10pt;line-height:12pt;border:none 0pt;}

	table 
		{border-width:0px;border-spacing:0px;border-style:none;border-collapse:collapse; border-color:#000000;}

	th
		{text-indent:3pt;padding-bottom:2pt;border-width:1px;border-style:solid; border-color:#000000; font-weight:bold; text-align:left;vertical-align:text-top;font-size:12pt;}

	td
		{border-width:0px;border-style:none;padding:2pt 4pt 2pt 4pt;vertical-align:text-top;}

	.noborder
		{border-width:0px;border-style:none;}

	.bl
		{border-left:solid 1px #000000;font-weight:bold;}

	.br
		{border-right:solid 1px #000000;}

	.bb
		{border-right:solid 1px #000000;border-left:solid 1px #000000;font-weight:bold;}

	.bbb
		{border:solid 1px #000000;border-top:none 0px;font-weight:bold;}

	.blb
		{border-left:solid 1px #000000;border-bottom:solid 1px #000000;font-weight:bold;}

	.brb
		{border-right:solid 1px #000000;border-bottom:solid 1px #000000;}
		
	.brl
		{width:487pt;border:solid 1px #000000;border-top:none 0px;}

	.btl
		{border-left:solid 1px #000000;border-top:solid 1px #000000;font-weight:bold;}
	.bt
		{border-top:solid 1px #000000;font-weight:bold;}

	.fullborder
		{width:487pt;border-width:1px;border-style:solid;}

	.fullnoborder
		{width:487pt;}

	.fullborderv
		{width:600pt;border-width:1px;border-style:solid;}

	h1
		{width:487pt;font-size:12pt;line-height:13pt;font-weight:bold;text-align:center;padding-top:10pt 10pt 0pt 0pt;}

	h2
		{width:479pt;font-size:12pt;font-weight:bold;text-align:center;border:solid 1px #000000;padding:3pt;}

	h3
		{width:487pt;text-align:center;}

	h4
		{width:487pt;text-align:center;font-weight:normal;} 

	div.page 
		{width:597pt;height:840pt;page-break-after:always;page-break-inside:avoid;position:relative;border:none;padding:0pt 54pt 0pt 54pt;}

	div.pagecontent 
		{width:489pt;height:734pt;position:absolute;top:54pt;overflow:hidden;border:none;}

	div.pagecontentwithfooter
		{width:489pt;height:670pt;position:absolute;top:54pt;overflow:hidden;border:none;}

	div.page.mainheader 
		{width:489pt;position:absolute;height:18pt;top:18pt;color:#808080;display:inline-block;font-size:7pt;text-align:right;}

	div.page.mainfooter 
		{position:relative;width:489pt;height:18pt;bottom:18pt;color:#000;background-color:#f00;font-size:6pt;line-height:7pt;vertical-align:bottom;}

    .versiondate
        {clear:none;width:50pt;height:18pt;float:left;font-size:6pt;line-height:7pt;vertical-align:bottom;background-color:#0f0;}

    .pageicons
        {clear:none;width:50pt;height:18pt;float:right;font-size:6pt;line-height:7pt;vertical-align:bottom;background-color:#00f;}

    .companyfooter
        {clear:none;width:380pt;font-size:6pt;line-height:7pt;vertical-align:bottom;background-color:#ff0;}
   	.header 
		{width:489pt;position:absolute;height:18pt;top:18pt;    color:#808080;display:inline-block;font-size:7pt;text-align:right;}

   	.headermyppi 
		{position:absolute; padding:5px; top:15pt; left:60pt; color:#000000; font-size:12pt;text-align:left;border:solid 2px #000;}

	.footermk2 
		{left:97pt;width:400pt;position:absolute;height:20pt;bottom:18pt; color:#004000;display:inline-block;font-size:6pt;line-height:7pt;text-align:right;vertical-align:bottom;}

	.footer 
		{width:489pt;position:absolute;height:20pt;bottom:18pt; color:#004000;display:inline-block;font-size:7pt;line-height:12px;text-align:justify;vertical-align:bottom;}
	
	.grf_footer 
		{width:489pt;position:absolute;height:84pt;bottom:18pt; color:#000000;display:inline-block;font-size:9pt;text-align:center;vertical-align:bottom;}

	.grf_footer .smaller 
		{font-size:5pt;}

	.dateandtime 
		{width:489pt;position:absolute;height:18pt;bottom:18pt; color:#000000;display:inline-block;font-size:8pt;text-align:left;vertical-align:bottom;}
		
	.nowrap
		{white-space:nowrap;}
		 
	.full 
		{width:487pt;}

	.finetext
		{font-size:7pt;color:#404040;}

	.smalltext
		{font-size:8pt;font-weight:normal;}

	.smallheavytext
		{font-size:8pt;font-weight:bold;} 

	.heavytext
		{font-weight:bold;}

	.imprtnt
		{display:inline-block;font-size:8pt;font-weight:bold;text-align: justify;}

	.imprtnt_ctr
		{display:inline-block;font-size:8pt;font-weight:bold;text-align: center;}
		
	.tick
		{display:inline-block;border:solid 1px #000000;width:10pt;height:10pt;text-align:center;}

	.notick
		{display:inline-block;border:solid 1px #ffffff;width:10pt;height:10pt;}		
		
	.lighttick
		{display:inline-block;border:solid 1px #a0a0a0;width:12pt;height:12pt;text-align:center;}

	ol
		{list-style-type: decimal;padding-left:20pt;}

	li
		{font-size:8pt;font-weight:normal;}

	ol li ol
		{list-style-type: lower-alpha !important;padding-left:20pt;}

	ol li ol li 
		{font-size:8pt;font-weight:normal;}

	.subdiv
		{display:inline-block;width:40pt;}		

	.subdivw
		{display:inline-block;width:55pt;}		
		
	.other
		{display:inline-block;width:385pt;border:solid 1px #808080;margin-top:1pt;margin-bottom:1pt;}

	.otherfull
		{display:inline-block;width:475pt;border:solid 1px #808080;margin-top:1pt;margin-bottom:1pt;}

	.othervar
		{display:inline-block;border:solid 1px #808080;}

	.option
		{display:inline-block;width:190pt;}		

	.notthefooter 
		{width:489pt;color:#808080;display:inline-block;font-size:7pt;text-align:center;vertical-align:bottom;}


