﻿* {
    font-family: Arial;
    font-size: 8pt;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    color: #111111;
    /*height: 550px;*/
    margin: auto;
    overflow: visible;
    padding-top: 5px;
    width: 1000px;
}
input {
    background-color: #FFFFFF;
    border: 1px solid #808080;
    color: #111111;
    margin: 1px 0;
    padding: 1px;
}
select {
    background-color: #FFFFFF;
    border: 1px solid #808080;
    color: #111111;
    margin: 1px 0;
    padding: 1px;
}
ul {
    list-style-type: none;
}
ol {
    list-style-position: inside;
}
div {
    border: 0 none;
}
h3 {
    background-color: #009530;
    border-radius: 5px 5px 0 0;
    clear: both;
    color: #FFFFFF;
    font-weight: bold;
    text-indent: 5px;
    text-transform:capitalize;
}
h4 {
    background-color: #E4E5FF;
    border:solid 1px  #009530;
    border-radius: 5px 5px 0 0;
    /*border-bottom:none;*/
    clear: both;
    color: #009530;
    font-weight: bold;
    text-indent: 5px;
    text-transform:capitalize;
}
h5 {
    background-color: #009530;
    border-radius: 0px 0px 5px 5px;
    clear: both;
    color: #FFFFFF;
    font-weight: bold;
    text-indent: 5px;
    text-transform:capitalize;
}
h8 {
    background-color: #E4E5FF;
    border:solid 1px  #009530;
    border-radius: 0px 0px 5px 5px;
    /*border-bottom:none;*/
    clear: both;
    color: #009530;
    font-weight: bold;
    text-indent: 5px;
    text-transform:capitalize;
}
h3 > a {
	float:right;
	padding-right:3px;
	color:#ffffff;
}

h4 > a {
	float:right;
	padding-right:3px;
}
h7 > a {
	float:right;
	padding-right:3px;
}
h8 > a {
	float:right;
	padding-right:3px;
}
.access0, .access1 {text-indent:0px;width:15px !important; }	


.lnk {
    color: #000000; 
    /*#009530*/
    font-weight: normal;
    text-decoration: none;
}
.lnk:hover {
    color: #FF9900;
    text-decoration: none;
}
a {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}
a:hover {
    color: #FF9900;
    text-decoration: none;
}
.banner {
    clear: both;
    height: 55px;
    width: 1000px;
}
.banner h1 {
    float: left;
    font-size: 15pt;
    height: 50px;
    text-indent: -2000px;
    width: 200px;
    margin-top: 5px;
}
.right,#right {
    float: right;
}
#notifications li {
    clear: none;
    float: right;
}
#notifications li a {
    font-weight: normal;
}

.footer {
    bottom: 0;
    clear: both;
    position: fixed;
    width: 1000px;
    z-index: -1000;
}

.midsection {
    bottom: 25px;
    clear: both;
    position: absolute;
    top: 60px;
    width: 1000px;
}
.fullsection {
    bottom: 25px;
    clear: both;
    position: absolute;
    top: 60px;
    width: 1000px;
}

.navigation {
    width: 200px;
}

.midsection .navigation {
    float: left;
}

.inner .navigation {
    float: right;
}

.midsection .content {
    float: right;
    width: 798px;
    margin-left:2px;
}
.fullsection .content {
    float: right;
    width: 1000px;
    margin-left:2px;
}

.inner .content {
    float: left;
    width: 596px;
    margin-right:2px;
    margin-left:0px;
}

.content h3,.content h8,.content * h3 {
    width: 798px;
}
.inner .content h3,.inner .content h8, .inner .content * h3 {
    width: 596px;
}

.content .frame,.content * .frame {
    width: 798px;
    height: 480px;
    border:none;
}

.inner .content .frame, .inner .content * .frame {
    width: 596px;
    height: 480px;
    border:none;
}

.navigation h3, .navigation h8 {
    width: 200px;
}
.formcontrol:before {
    clear: both;
}
.formcontrol {
    font-weight: normal;
    padding-left: 5px;
}

.surveyformcontrol:before {
    clear: both;
}
.surveyformcontrol {
    font-weight: normal;
    padding-left: 5px;
}

.surveyformcontrol li {
    /*border: 1px solid black;
    border-bottom-style:solid;  */  
}

.surveyformcontrol li .label {
    float: left;
    width: 200px;
    margin-right:4px;
    text-transform:capitalize;
}
.surveyformcontrol li span.item {
    width: inherit;
}

.surveyformcontrol li span {
    width: 200px;

}
.formcontrol li .problem {
    color: #FF0000;
    float: left;
    width: 452px;
}
.combolist {
	padding-left:10px;
	margin-bottom:5px;
	}

.formcontrol li {
}

.formcontrol li .label {
    float: left;
    width: 300px;
    text-transform:capitalize;
}
.formcontrol li .surveylabel {
    float: left;
    width:200px;
    margin-right:4px;
    text-transform:capitalize;
}
.formcontrol li span.item {
    width: inherit;
}

.formcontrol li span {
    width: 200px;
}
.formcontrol li .problem {
    color: #FF0000;
    float: left;
    width: 452px;
}
.sectionlabel {
    background-color: #009530;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    margin-bottom: 2pt;
    text-indent: 5px;
    width: 796px;
}
.inner * .sectionlabel {
    width: 594px;
}
.navigationmenu {
    /*border: 1px solid #2D1E92;*/
    border: none;
    border-radius: 0 0 5px 5px;
    margin-bottom: 3px;
}
.navigationmenu li {
    text-indent: 5px;
}
.input_ddl {
    width: 253px;
}
.input_str {
    width: 248px;
}
.datepicker {
    width: 121px;
}
.timepicker {
    width: 121px;
}
.input_strheader {
    width: 145px;
    background-color: #009530;
    border:solid 1px  #E4E5FF;
    border-radius: 5px 5px 0 0;
    /*border-bottom:none;*/
    clear: both;
    color: #FFFFFF;
    font-weight: bold;
    text-indent: 5px;
    text-transform:capitalize;
}


.input_ddl_profile {
    width: 100px;
    text-align:center;
}
.input_str_mtc {
    width: 150px;
    text-align:center;
}
.input_str_llf {
    width: 100px;
    text-align:center;
}


.input_ddl_dist {
    width: 75px;
    text-align:center;
}
.input_str_uniq {
    width: 200px;
    text-align:center;
}
.input_str_check {
    width: 75px;
    text-align:center;
}




.input_ddls {
    width: 126px;
}
.input_strs {
    width: 124px;
}
.input_num {
    color: #800000;
    width: 248px;
}
.input_box {
    height: 50px;
    width: 248px;
}
.input_dbl {
    color: #0000A0;
    width: 248px;
}
.input_chk {
    width: 248px;
}
.input_chk:after {
    content: "Yes";
}
.input_dtm {
    color: #008000;
    width: 248px;
}
.input_pwd {
    color: #000000;
    width: 248px;
}
.input_span {
    background-color: #FFFFFF;
    border: 1px solid #808080;
    margin: 1px 0;
    padding: 1px;
    color: #000000;
    width: 175px;
    display:inline-block;
}

.boldlabel {
	color:#009530;
	font-weight:bold;
	text-indent:5px;
}


.notify {
    border-radius: 5px 5px 5px 5px;
    height: 50px;
    margin-left: 2px;
    text-align: center;
    width: 63px;
}

.green {
    border: 1px solid #00CC44;
    color: #00CC44;
}

.green:hover {
    background-color: #00CC44;
    color: #FFFFFF;
}
.red {
    border: 1px solid #FF0000;
    color: #FF0000;
}
.red:hover {
    background-color: #FF0000;
    color: #FFFFFF;
}
.yellow {
    border: 1px solid #FF8000;
    color: #FF8000;
}
.yellow:hover {
    background-color: #FF8000;
    color: #FFFFFF;
}

.count {
    font-size: 15pt;
    font-weight: bold;
}
.counttype {
    font-size: 8pt;
    line-height: 8pt;
}
.notifylink {
    text-decoration: none;
}
.notifylink:hover {
    text-decoration: none;
}

.buttonlist {
    list-style-type: none;
	padding:20px 10px;
}

.buttonlist li {
    display: inline-block;
    color:#006000; 
    border-left:solid 1px #009530;
    padding: 0px 10px;
}

.buttonlist li:first-child {
    border-left:none;
}


.buttonlist li a {
    color:#009530; 
}



#maintab {
    border-color: #009530;
    border-style: solid;
    border-width: 0 0 1px;
    border-radius:5px 5px 0px 0px;
    font-weight: bold;
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
    text-align: left;
    width: 596px;
}

#maintab li {
    background-color: #AAAAAA;
    border: 1px solid #009530;
    border-radius:5px 5px 0px 0px;
    color: #009530;
    display: inline;
    margin-left: 0;
    margin-right: 1px;
}
#maintab li.selected {
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
#maintab li a {
    font-weight: bold;
    padding: 0 5px;
    text-decoration: none;
}
#maintab li a:hover {
    background-color: #009530;
    border-bottom: 1px solid #009530;
    color: #FFFFFF;
    border-radius:4px 4px 0px 0px;
}
#innertab {
    border-color: #009530;
    border-style: solid;
    border-width: 0 0 1px;
    border-radius:5px 5px 0px 0px;
    font-weight: bold;
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
    text-align: left;
    width: 596px;
}
#innertab li {
    background-color: #AAAAAA;
    border: 1px solid #009530;
    border-radius:5px 5px 0px 0px;
    color: #009530;
    display: inline;
    margin-left: 0;
    margin-right: 1px;
}

#innertab li.selected {
    background-color: #009530;
    color: #FFFFFF;
}
#innertab li.hidden {
    display:none;
}

#innertab li.selected a {
    color: #FFFFFF;
}


#innertab li a {
    font-weight: bold;
    padding: 0 3px;
    text-decoration: none;
}
#innertab li a:hover {
    background-color: #FFFFFF;
    border-bottom: 1px solid #009530;
    color: #009530;
    border-radius:4px 4px 0px 0px;
}
.pop {
    display: none;
    text-transform:none;
}
.label {
    position: relative;
    z-index: 25;
}
.label:hover {
    cursor: pointer;
    z-index: 25;
}
.label .pop {
    display: none;
}
.label:hover .pop {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    display: block;
    left: 30em;
    padding: 2px 2px 5px 5px;
    position: absolute;
    top: -0.1em;
}
.item {
    color: #606060;
    display: inline-block;
    font-size: 7pt;
    text-indent: 10px;
}
.org {
    color: #006000;
}
#formatinfo {
    color: #009530;
    font-weight: normal;
}
#probleminfo {
    color: Red;
    font-weight: normal;
}
.duperror {
	display:inline-block;
	width:498px;
    color: white;
    background-color:#009530; 
    font-weight: bold;
}
.conf {
    font-size: 8pt;
    font-weight: lighter;
	}
.error {
    color: Red;
    font-weight: bold;
}
.ok {
    color: Green;
    font-weight: bold;
}
.warn {
    color: Red;
    font-size: 8pt;
    font-weight: lighter;
    margin-top: 60px;
    width: 190px;
}
.notipop {
    background-color: #FFFFFF;
    border: solid 1px #009530;
    border-radius: 0 0 10px 10px;
    clear: both;
    color: #009530;
    float: left;
    font-weight: bold;
    overflow: hidden;
    padding-left: 4px;
    padding-top: 2px;
    position: absolute;
    width: 20px;
    z-index: 500;
}
.wait, .notifyMsg {
    border: medium none;
    bottom: 2px;
    height: 16px;
    position: absolute;
    width: 16px;
}
#debug {
    font-size: 10pt;
    left: 150px;
    position: absolute;
    top: 10px;
    z-index: 400;
}

/*tr:hover {
    background-color: #E0E0FF;
}*/
.notificationpopup {
    background-color: #FFFFFF;
    border: solid 1px #009530;
    border-radius: 0 0 10px 10px;
    clear: both;
    color: #009530;
    float: left;
    font-weight: bold;
    overflow: hidden;
    padding-left: 4px;
    padding-top: 2px;
    position: absolute;
    width: 20px;
    z-index: 500;
}
.modal {
    background-color: #FFFFFF;
    border: 1px solid #009530;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 4px #009530;
    padding: 10px;
    position: absolute;
    top: 100px;
    width: 500px;
    z-index: 1000;
}
.dd8 {
    color: #C0C0C0;
    text-align: right;
}

.modal h3, .modal h4, .modal h5, .modal h8 {
	width: 498px;	
}

#btnclose {
	background-color: #FF0000;
	border-radius: 4px 4px 4px 4px;
	color: #FFFFFF;
	float: right;
	font-size: 11px;
	font-weight: bold;
	height: 15px;
	line-height: 15px;
	margin: 1px;
	padding-right: 5px;
}


.opennote {
    border: 1px solid #009530;
    background-color: #009530;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    padding: 0 5px;
    text-align: right;
    text-transform:capitalize; 
}

.openhead {
    border: 1px solid #2D9231;
    background-color: #2D9231;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    padding: 0 5px;
    text-align: right;
    text-transform:capitalize; 
}


.closednote{
    border: 1px solid #009530;
    border-radius: 5px 5px 0 0;
    padding: 0 5px;
    background-color: #E4E5FF;
    color: #009530;
    text-align: left;
    text-transform:capitalize; 
}

.opennote span {display: inline-block;float: left;text-align: left;}
.closednote span {display: inline-block;float: right;text-align: right;}
.opennote a {	color:#ffffff;}
.opennote a:hover {color: #FF9900;}

.notemessage {
    border: 1px solid #009530;
    border-top: none;
    border-radius: 0 0 5px 5px;
    color: #000000;
    padding: 0 5px;
    text-align: left;
}

.headmessage {
    border: 1px solid #2D9231;
    border-top: none;
    border-radius: 0 0 5px 5px;
    color: #000000;
    padding: 0 5px;
    text-align: left;
}

.content div table {
    border: medium none;
    border-collapse: collapse;
    width: 100%;
}
.content div table * tr, .content div table * td {
    border: medium none;
}
td.verticalcell 
{
    transform: rotate(270deg);
    }
    
.content div table * th {
    border: medium none;
    text-align: left;
}

.okinfo {
		color:#008000;
	}

.okinfo:before {
		content: '[OK] '
	}

.badinfo {
		color:#ff0000;
	}

.badinfo:before {
		content: '[PRB] '
	}

a.locate, .access1 {
    background-color: #00c000;
    border-radius: 7px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    width: 15px;
    line-height: 14px;
    text-align: center;
}
a.inform {
    background-color: #4088FF;
    border-radius: 7px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    font-style:italic;
    width: 15px;
    text-align: center;
}
a.remove, .access0 {
    background-color: #FF0000;
    border-radius: 7px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    margin: 3px 1px 1px 1px;
    text-align: center;
    width: 15px;
}
a.add {
    background-color: #00FF00;
    border-radius: 7px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    margin: 3px 1px 1px 1px;
    text-align: center;
    width: 15px;
}


.find {
    background-color: #00c000;
    border-radius: 7px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    margin: 3px 1px 1px 1px;
    text-align: center;
    width: 15px;
}


    .seek_container {background-color: rgba(0, 0, 0, 0.65); height: 100%;left: 0;margin: 0;position: absolute;top: 0;width: 100%;z-index: 2000;}
    .seek_control {margin: auto; position: relative; top: 10%; width: 400px;box-shadow: 5px 5px 5px #000;background-color:none;}
    .seek_exitbar {background-color: red;border-radius: 0 5px 0 0;color: #FFFFFF;font-weight: bold;text-indent: 6px;text-transform:capitalize;display:inline-block;width:20px;}
    .seek_exitbar a {text-decoration:none;color:#ffffff;font-weight:bold;}
    .seek_exitbar a:hover {text-decoration:none;color:#ffffff;}    
    .seek_titlebar {background-color: #009530;border-radius: 5px 0 0 0;color: #FFFFFF;font-weight: bold;text-indent: 6px;text-transform:capitalize;display:inline-block;width:380px;}
    .seek_panel {width:398px;border:solid 1px #009530;border-radius:0 0 5px 5px;border-top:none;background-color:#ffffff;padding-top:5px;padding-bottom:5px;}
    .seek_search {margin:auto;width:388px;}
    .seek_wait {margin:auto;width:388px;}
    .seek_result {margin:auto;width:388px;max-height:500px;overflow:auto;}
    
    .seek_ul_form {width:386px;}
    .seek_ul_form li{width:384px;}
    .seek_ul_form li span {width:182px;display:inline-block;}
    
    .seek_ul_result {width:370px;}
    .seek_ul_result li{width:368px;}
    .seek_ul_result li:hover{background-color:#f0f0f0;}
    .seek_ul_result li .seek_location {font-size:7pt;color:#444;}
    .seek_ul_result li .seek_email {font-size:7pt;color:#444;}

	.seek_title {color: #009530;font-weight: bold;}
	
	
	#tmrDisplay {margin:auto;position: absolute; top:10px; background-color:rgba(0, 0, 0, 0);z-index:100;border-radius:6px;box-shadow: 5px 5px 5px #000;min-width:300px;max-width:600px;}
	.tmr_titlebar 
		{background-color: #009530;border:solid 1px #c00F1D;border-radius:6px 6px 0 0;color: #FFFFFF;font-weight: bold;text-indent: 6px;text-transform:capitalize;width:inherit;}
	.tmr_panel 
		{background-color: #FFFFFF;border:solid 1px #c00F1D;border-radius:0 0 6px 6px;color: #009530;border-top:none;width:inherit;}
	.tmr_panel .tmr_notice
		{display: block; margin: 0px 10px; padding: 5px 0px;} 		
	.tmr_panel .tmr_notice a {display:block;text-align:right;font-weight:bold;color:#FF9900; }
	.tmr_panel .tmr_notice a:hover {color:#c00F1D; }


	.Today	{border:solid 1px #ff8000;border-radius:6px;background-color:#ff8000;color:#ffffff;margin-top:5px;}
	.Active	{border:solid 1px #00c000;border-radius:6px;background-color:#00c000;color:#ffffff;margin-top:5px;}
	.Overdue {border:solid 1px #c00000;border-radius:6px;background-color:#c00000;color:#ffffff;margin-top:5px;}
	.Complete	{border:solid 1px #009530;border-radius:6px;background-color:#009530;color:#ffffff;margin-top:5px;}
	.Cancelled	{border:solid 1px #c00000;border-radius:6px;background-color:#606060;color:#ffffff;margin-top:5px;}
	.Delayed	{border:solid 1px #009530;border-radius:6px;background-color:#E4E5FF;color:#009530;margin-top:5px;}

	
	.taskHead {font-weight: bold;text-transform:capitalize;width:inherit;}
	.taskMid {background-color:#ffffff;color:#000000;width:inherit;}
	.taskFoot {background-color:#ffffff;color:#000000;width:inherit;min-height:6px;border-radius:0 0 6px 6px;}

	.taskTitle {position:relative;left:10px;}
	.taskDate {position:relative;right:10px;float:right}	  
	.taskDate a {font-weight:bold;color:#ffffff;}
	.taskOwner {position:relative;left:10px;font-weight:bold;}
	.taskLink {position:relative;right:10px;float:right}
	.taskNote {padding: 1px 10px 5px;display: inline-block;} 
	.taskLink a {font-weight:bold;}
	.taskProduct{padding:0px 10px;display: inline-block;background-color:#e0e0e0;font-style:italic;width:574px;}

    .modal_control {position: absolute; left:36px; top:10px; z-index:100; width: 500px;box-shadow: 5px 5px 5px #000;border-radius:5px;background-color:rgba(0,0,0,0);}
    .modal_exitbar {background-color: red;border-radius: 0 5px 0 0;color: #FFFFFF;font-weight: bold;text-indent: 6px;text-transform:capitalize;display:inline-block;width:20px;}
    .modal_exitbar a {text-decoration:none;color:#ffffff;font-weight:bold;}
    .modal_exitbar a:hover {text-decoration:none;color:#ffffff;}    
    .modal_titlebar {background-color: #009530;border-radius: 5px 0 0 0;color: #FFFFFF;font-weight: bold;text-indent: 6px;text-transform:capitalize;display:inline-block;width:480px;}
    .modal_panel {width:498px;border:solid 1px #009530;border-radius:0 0 5px 5px;border-top:none;background-color:#ffffff;padding-top:5px;padding-bottom:5px;}

	.modal_note {width:494px;height:350px;}

    .modal_control_org {position:absolute; left:250px; z-index:100; width: 500px;box-shadow: 5px 5px 5px #000;border-radius:5px;background-color:rgba(0,0,0,0);}


	#makeTask {width:500px;top:-200px;position:relative;}
	


	#frmCreateNewUser  {left:220px;top:30px;}

    .list {max-height:250px;overflow:auto;border:solid 1px #009530;border-radius:0px 0px 5px 5px;margin-bottom:3px;padding-left:4px;}


	.manageGroup_Icon{ width:15px; height:15px; border: none 0px black; vertical-align:middle;  }
	
	.c2f {max-width:298px;}
	.left {float:left;}
	
	#ctlDeliver{display:none;}
	
	.noticespan	{width:798px;}
		
	#radioDisplay {
		display:none;
		padding-top:5px;
	}
	
h6 {
    background-color: #E47F00;
    border:solid 1px  #009530;
    border-radius: 5px 5px 0 0;
    /*border-bottom:none;*/
    clear: both;
    color: #FFFFFF;
    font-weight: bold;
    text-indent: 5px;
    text-transform:capitalize;
}
	
h7 {
    background-color: #E47F00;
    border:solid 1px  #009530;
    border-radius: 5px 5px 0 0;
    /*border-bottom:none;*/
    clear: both;
    color: #FFFFFF;
    font-weight: bold;
    text-indent: 5px;
    text-transform:capitalize;
}
tr.new
{
    color:Lime;
    }
    
table.roundedbutton {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
    width:250px;
    font-family:verdana;
    margin-bottom:20px
}

td.roundedbutton, th.roundedbutton {
    border-top:solid black 1px;
}

th.roundedbutton {
    background-color: #009530;
    border-top: none;
    text-align:center;
    color:#FFFFFF;
}

td.roundedbutton:first-child {
     border-left: none;
    height:30px;
}


table.groupbuttons {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
    font-family:verdana;
    margin-bottom:20px;
}

th.groupbuttons {
    background-color: #009530;
    border-top: none;
    text-align:center;
    color:#FFFFFF;
}

td.groupbuttons:first-child {
     border-left: none;
     vertical-align:top;
    padding-right:10px;
}

.box_links_reports {width:600px;}
.box_links_reports li {float:left; padding:15px;}
.box_links_reports li a {width:270px; height:150px; display:block; cursor:pointer;}

.button_green 
{
    text-align:center; 
    min-width:100px; 
    height: 20px; 
    vertical-align:middle; 
    border:2px solid #E47F00; 
    border-radius:15px; 
    padding: 15px;
    background-color: #009530;
    color: #FFFFFF;
    display: inline-block;
    }
.button_orange
{
    text-align:center; 
    min-width:100px; 
    height: 20px; 
    vertical-align:middle; 
    border:2px solid #009530; 
    border-radius:15px; 
    padding: 15px;
    background-color: #E47F00;
    color: #FFFFFF;
    display: inline-block;
    }
.button_orangesmall
{
    text-align:center; 
    min-width:100px; 
    height: 10px; 
    vertical-align:middle; 
    border:2px solid #009530; 
    border-radius:15px; 
    padding: 10px;
    background-color: #E47F00;
    color: #FFFFFF;
    display: inline-block;
    }
.button_grey
{
    text-align:center; 
    min-width:100px; 
    height: 20px; 
    vertical-align:middle; 
    border:2px solid #009530; 
    border-radius:15px; 
    padding: 15px;
    background-color: #9FA0A4;
    color: #FFFFFF;
    display: inline-block;
    }
.button_greysmall
{
    text-align:center; 
    min-width:100px; 
    height: 10px; 
    vertical-align:middle; 
    border:2px solid #009530; 
    border-radius:15px; 
    padding: 10px;
    background-color: #9FA0A4;
    color: #FFFFFF;
    display: inline-block;
    }