﻿    h3,h5 {background-color:#7A0F1D;border-color:#7A0F1D;}
    h4,h8 {background-color:#FFFFFF;color:#7A0F1D;border-color:#7A0F1D;}

    .list {max-height:300px;overflow:auto;border:solid 1px #7A0F1D;border-radius:0px 0px 5px 5px;margin-bottom:3px;padding-left:4px;}
	.c2f {max-width:398px;}
	.c3f {max-width:265px;}
	.c2c {max-width:298px;}
	.c3c {max-width:198px;}

    .right {float:right;}
    .left {float:left;}

    .title {border-radius: 5px 5px 0px 0px; border:solid 1px #7A0F1D;background-color:#7A0F1D; color:#ffffff;text-indent:10px;font-weight:bold;margin-top:3px;}
    .notitle {width:115px; background-color:inherit; color:inherit;margin-top:3px;}

	.input {background-color: #FFFFFF; border: 1px solid #808080; color: #111111; margin: 1px 0; padding: 1px;width: 248px;text-indent:5px;display:inline-block;height:12pt;}

    .seek_container {background-color: rgba(0, 0, 0, 0.65); height: 100%;left: 0;margin: 0;position: absolute;top: 0;width: 100%;z-index: 2000;}
    .seek_control {margin: auto; position: relative; top: 10%; width: 400px;box-shadow: 5px 5px 5px #000;background-color:none;}
    .seek_exitbar {background-color: red;border-radius: 0 5px 0 0;color: #FFFFFF;font-weight: bold;text-indent: 6px;text-transform:capitalize;display:inline-block;width:20px;}
    .seek_exitbar a {text-decoration:none;color:#ffffff;font-weight:bold;}
    .seek_exitbar a:hover {text-decoration:none;color:#ffffff;}    
    .seek_titlebar {background-color: #7A0F1D;border-radius: 5px 0 0 0;color: #FFFFFF;font-weight: bold;text-indent: 6px;text-transform:capitalize;display:inline-block;width:380px;}
    .seek_panel {width:398px;border:solid 1px #7A0F1D;border-radius:0 0 5px 5px;border-top:none;background-color:#ffffff;padding-top:5px;padding-bottom:5px;}
    .seek_search {margin:auto;width:388px;}
    .seek_wait {margin:auto;width:388px;}
    .seek_result {margin:auto;width:388px;max-height:400px;overflow:auto;}
    
    .seek_ul_form {width:386px;}
    .seek_ul_form li{width:384px;}
    .seek_ul_form li span {width:182px;display:inline-block;}
    
    .seek_ul_result {width:370px;}
    .seek_ul_result li{width:368px;}
    .seek_ul_result li:hover{background-color:#f0f0f0;}
    .seek_ul_result li .seek_location {font-size:7pt;color:#444;}
    .seek_ul_result li .seek_email {font-size:7pt;color:#444;}

	.seek_title {color: #7A0F1D;font-weight: bold;}