<%@ Master Language="VB" CodeFile="external.master.vb" Inherits="design_masters_external" %>
<%@ Register Src="~/controls/head/banners/external.ascx" TagName="banner" TagPrefix="ext" %>
<%@ Register Src="~/controls/nav/navigation/external.ascx" TagName="navigation" TagPrefix="ext" %>
<%@ Register Src="~/controls/foot/external.ascx" TagName="footer" TagPrefix="ext" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server" enableviewstate="false">
    <title></title>
    <link rel="shortcut icon" href="http://<%=Request.ServerVariables("HTTP_HOST") %>/favicon.ico" />
    <link rel="icon" type="image/png" href="http://<%=Request.ServerVariables("HTTP_HOST") %>/favicon.png" />     
    <script type="text/javascript" language="javascript" src="/script/obj.js"></script>
    <script type="text/javascript" language="javascript" src="/script/lib.js"></script>
    <script type="text/javascript" language="javascript" src="/script/general.js"></script>
    <%= Local.LoadPageSpecificJs(Server,Page.GetType().Name) %> 
   <style type="text/css">
        @import url(/design/css/main.css);    
        @import url(/design/css/main.ashx);   
        @import url(/design/css/loginstyle.css);    
    </style>    
</head>
<body>
    <form id="form1" runat="server" autocomplete="off" enableviewstate="false">
    <div class="banner"><ext:banner ID="banner" runat="server" EnableViewState="false" /></div>
    <div class="midsection">
        <div class="navigation" id="ln"><ext:navigation ID="navigation" runat="server" EnableViewState="false" /></div>
        <div class="content"><asp:contentplaceholder id="content" runat="server" EnableViewState="false" /></div>
    </div>
    <div class="footer"><ext:footer ID="footer" runat="server" EnableViewState="false" /></div>
    </form>
    <div id="debug"></div>
</body>
</html>
