<%@ Page Language="VB" MasterPageFile="~/design/masters/user.master" AutoEventWireup="false" CodeFile="addperson.aspx.vb" Inherits="corepersons_addperson" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="content" Runat="Server">
    <asp:PlaceHolder ID="personControl" runat="server" />
    <table id="personButton" runat="server">
        <tr style="height:10px;"></tr>
        <tr>
            <td style="text-align:center; width:20%;">
                <asp:Linkbutton runat="server" ID="btnSavePerson" Text="<h6>Add Person</h6>" CausesValidation="true" Width="650px" />
            </td>
            <td style="width:60%;"></td>
            <td style="text-align:center; width:20%;"></td>
        </tr>
    </table>

</asp:Content>

