<%@ Control Language="VB" AutoEventWireup="false" CodeFile="notices.ascx.vb" Inherits="controls_nav_notices" %>
        <h3 id="systemnotices">System Notices</h3>
        <div id="formatinfo"></div>
        <div id="probleminfo"></div>
