<%@ Control Language="VB" AutoEventWireup="false" CodeFile="rightnav.ascx.vb" Inherits="controls_nav_rightnav" %>
<%@ Register Src="agreements.ascx" TagName="agreements" TagPrefix="uc0" %>
<%@ Register Src="meters.ascx" TagName="meters" TagPrefix="uc1" %>
<%@ Register Src="throughputs.ascx" TagName="throughputs" TagPrefix="uc2" %>
<%@ Register Src="targets.ascx" TagName="targets" TagPrefix="uc3" %>
<%@ Register Src="bubbles.ascx" TagName="bubbles" TagPrefix="uc4" %>

<uc0:agreements ID="agreement1" runat="server" />
<uc3:targets ID="targets1" runat="server" />
<uc1:meters ID="meters1" runat="server" />
<uc2:throughputs ID="throughputs1" runat="server" />
<uc4:bubbles ID="bubbles1" runat="server" />








