﻿<%@ Page Title="" Language="VB" MasterPageFile="~/design/masters/user.master" AutoEventWireup="false" CodeFile="default.aspx.vb" Inherits="corereports_default" %>
<%@ Register Src="~/controls/reportautomations_ctl.ascx" TagName="report" TagPrefix="rpt1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="content" Runat="Server">
    <rpt1:report ID="report1" runat="server" />
</asp:Content>

