<%@ Control Language="VB" AutoEventWireup="false" CodeFile="externaltasks.ascx.vb" Inherits="controls_widgets_externaltasks" %>
<h3>Overdue External Tasks</h3>
<div class="list">
<asp:GridView ID="GridView1" runat="server">
</asp:GridView>
</div>