<%@ Control Language="VB" AutoEventWireup="false" CodeFile="internaltasks.ascx.vb" Inherits="controls_widgets_internaltasks" %>
<h3>Overdue Internal Tasks</h3>
<div class="list">
<asp:GridView ID="GridView1" runat="server">
</asp:GridView>
</div>