<%@ Control Language="VB" AutoEventWireup="false" CodeFile="passwordtasks.ascx.vb" Inherits="controls_widgets_passwordtasks" %>
<h3>Overdue Password Tasks</h3>
<div class="list">
<asp:GridView ID="GridView1" runat="server">
</asp:GridView>
</div>