
<div class="modal_titlebar">Add Email Address</div><div class="modal_exitbar"><a href="javascript:closeCreate();">X</a></div>
<div class="modal_panel">
<ul class="formcontrol">
   <li><span class="label">Email</span><input type="text" id="frmEm" value="" class="input_str" /></li> 
   <li><span class="label">&nbsp;</span><a href="javascript:saveEmail();">Save</a></li> 
</ul> 
</div>
