
<div class="modal_titlebar">Add Location</div><div class="modal_exitbar"><a href="javascript:closeCreate();">X</a></div>
<div class="modal_panel">
<ul class="formcontrol">
    <li><span class="label">Building Prefix</span><input type="text" id="frmBp" value="" class="input_str" /></li>
    <li><span class="label">House No.</span><input type="text" id="frmHn" value="" class="input_str" /></li>
    <li><span class="label">Street</span><input type="text" id="frmSn" value="" class="input_str" /></li>
    <li><span class="label">District</span><input type="text" id="frmDi" value="" class="input_str" /></li>
    <li><span class="label">Town/City</span><input type="text" id="frmTc" value="" class="input_str" /></li>
    <li><span class="label">County</span><input type="text" id="frmCy" value="" class="input_str" /></li>
    <li><span class="label">Country</span><input type="text" id="frmCr" value="United Kingdom" class="input_str" /></li>
    <li><span class="label">Postcode</span><input type="text" id="frmPc" value="" class="input_str" /></li>
   <li><span class="label">&nbsp;</span><a href="javascript:saveLocation();">Save</a></li> 
</ul> 
<div id="rspCreateNewUser"></div>
</div>








