
<div class="modal_titlebar">Create New User</div><div class="modal_exitbar"><a href="javascript:closeCreate();">X</a></div>
<div class="modal_panel">
<ul class="formcontrol">
    <li><span class="label">First Name</span><input type="text" id="frmFn" value="" class="input_str" /></li>
    <li><span class="label">Surname</span><input type="text" id="frmSn" value="" class="input_str" /></li>
    <li><span class="label">Date Of Birth</span><input type="text" id="frmDb" value="" class="input_dtm" /></li>
    <li><span class="label">House No.</span><input type="text" id="frmHn" value="" class="input_str" /></li>
    <li><span class="label">Postcode</span><input type="text" id="frmPc" value="" class="input_str" /></li>
   <li><span class="label">Phone No.</span><input type="text" id="frmPh" value="" class="input_str" /></li> 
   <li><span class="label">Email</span><input type="text" id="frmEm" value="" class="input_str" /></li> 
   <li><span class="label">&nbsp;</span><a href="javascript:testDuplicate();">Create</a></li> 
</ul> 
<div id="rspCreateNewUser"></div>
</div>
