
<div class="modal_titlebar">Add Telephone</div><div class="modal_exitbar"><a href="javascript:closeCreate();">X</a></div>
<div class="modal_panel">
<ul class="formcontrol">
   <li><span class="label">Phone No.</span><input type="text" id="frmPh" value="" class="input_str" /></li> 
   <li><span class="label">&nbsp;</span><a href="javascript:savePhone();">Save</a></li> 
</ul> 
<div id="rspCreateNewUser"></div>
</div>
