<%@ WebHandler Language="VB" Class="functions_removeemail" %>
Public Class functions_removeemail
    Implements IHttpHandler, IRequiresSessionState
    Dim CDC As DataCommon
    Dim SM As MySM
    Dim Request As HttpRequest
    Dim Response As HttpResponse

    Public Sub ProcessRequest(ByVal context As HttpContext) Implements IHttpHandler.ProcessRequest
        Request = context.Request
        Response = context.Response
        CDC = New DataCommon(Local.AuthURL)
        SM = New MySM(context.Session.SessionID, Request, CDC)
        Page_Load()
    End Sub

    Public Sub VerifyRenderingInServerForm(ByRef control As Control)
    End Sub

    Public ReadOnly Property IsReusable() As Boolean Implements IHttpHandler.IsReusable
        Get
            Return False
        End Get
    End Property

    Public Sub Page_Load()
        Dim CRQ As Object = Request.QueryString
        Dim Obj As Objects.useremails
        Dim Msg as string="OK"
        Try
            Obj = New Objects.useremails(SM.CurrentUser, SM.ActualUser, Integer.Parse(CRQ("pk")), CDC)
            If Not Obj.Disable() then
                Msg="FAIL:" & Obj.LastError.Message
            End If
        Catch LE as Exception
            Msg="FAIL:" & LE.Message
        End Try
        Response.Write(Msg)
    End Sub

End Class
