<%@ Page Language="VB" MasterPageFile="~/design/masters/user.master" AutoEventWireup="false" CodeFile="resetpassword.aspx.vb" Inherits="core_resetpassword" title="Reset Password" %>


<%@ Register Src="~/controls/custom/resetpassword_ctl.ascx" TagName="resetpassword" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="content" Runat="Server">
<uc1:resetpassword ID="resetpassword1" runat="server" />
</asp:Content>
