<%@ Page Language="VB" MasterPageFile="~/design/masters/user.master" EnableViewState="false" AutoEventWireup="false" CodeFile="tasks.aspx.vb" Inherits="core_tasks" title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="content" Runat="Server">
    
</asp:Content>

