<%@ Control Language="VB" AutoEventWireup="false" CodeFile="agreementappointments_ctl.ascx.vb" Inherits="agreementappointments_ctl" %>
<asp:label class="label" runat="server" id="lblheadernotes"></asp:label>
<ul class='formcontrol'>
<li runat="server" id="blkprimary_fk">
<asp:label class="label" runat="server" id="lblprimary_fk" ></asp:label>
<asp:DropDownList ID="primary_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blknote">
<span class='label'>Note</span>
<asp:TextBox TextMode="MultiLine" ID="note" runat="server"   />
</li>
</ul>

