<%@ Control Language="VB" AutoEventWireup="false" CodeFile="agreementrequests_ctl.ascx.vb" Inherits="agreementrequests_ctl" %>
<h5>Please Enter the Request ID to link</h5>
<ul class='formcontrol'>
<li runat="server" id="blkagreement_fk">
<span class='label'>agreement_fk</span>
<asp:DropDownList ID="agreement_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkhelpdesk_id">
<span class='label'>Request ID</span>
<asp:TextBox EnableViewState="false" ID="helpdesk_id" runat="server" cssClass="input_num"  />
</li>
</ul>

