<%@ Control Language="VB" AutoEventWireup="false" CodeFile="agreementstages_ctl.ascx.vb" Inherits="agreementstages_ctl" %>
<h5>agreementstages</h5>
<ul class='formcontrol'>
<li runat="server" id="blkagreementstagename">
<span class='label'>agreementstagename</span>
<asp:TextBox EnableViewState="false" ID="agreementstagename" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

