<%@ Control Language="VB" AutoEventWireup="false" CodeFile="agreementnotes_ctl.ascx.vb" Inherits="agreementnotes_ctl" %>
<h5>agreementnotes</h5>
<ul class='formcontrol'>
<li runat="server" id="blkagreement_fk">
<span class='label'>agreement_fk</span>
<asp:DropDownList ID="agreement_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blknote_fk">
<span class='label'>note_fk</span>
<asp:DropDownList ID="note_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

