<%@ Control Language="VB" AutoEventWireup="false" CodeFile="agreementtypes_ctl.ascx.vb" Inherits="agreementtypes_ctl" %>
<h5>agreementtypes</h5>
<ul class='formcontrol'>
<li runat="server" id="blktypename">
<span class='label'>typename</span>
<asp:TextBox EnableViewState="false" ID="typename" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

