<%@ Control Language="VB" AutoEventWireup="false" CodeFile="agreementmeasures_ctl.ascx.vb" Inherits="agreementmeasures_ctl" %>
<h5>agreementmeasures</h5>
<ul class='formcontrol'>
<li runat="server" id="blkmeasurename">
<span class='label'>measurename</span>
<asp:TextBox EnableViewState="false" ID="measurename" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

