<%@ Control Language="VB" AutoEventWireup="false" CodeFile="appointmentpurposes_ctl.ascx.vb" Inherits="appointmentpurposes_ctl" %>
<h5>appointmentpurposes</h5>
<ul class='formcontrol'>
<li runat="server" id="blkappointmentpurposename">
<span class='label'>appointmentpurposename</span>
<asp:TextBox EnableViewState="false" ID="appointmentpurposename" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

