<%@ Control Language="VB" AutoEventWireup="false" CodeFile="appointmentstatuses_ctl.ascx.vb" Inherits="appointmentstatuses_ctl" %>
<h5>appointmentstatuses</h5>
<ul class='formcontrol'>
<li runat="server" id="blkappointmentstatusname">
<span class='label'>appointmentstatusname</span>
<asp:TextBox EnableViewState="false" ID="appointmentstatusname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

