<%@ Control Language="VB" AutoEventWireup="false" CodeFile="appointmentnotes_ctl.ascx.vb" Inherits="appointmentnotes_ctl" %>
<h5>appointmentnotes</h5>
<ul class='formcontrol'>
<li runat="server" id="blkappointment_fk">
<span class='label'>appointment_fk</span>
<asp:DropDownList ID="appointment_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blknote_fk">
<span class='label'>note_fk</span>
<asp:DropDownList ID="note_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

