<%@ Control Language="VB" AutoEventWireup="false" CodeFile="appointmentusers_ctl.ascx.vb" Inherits="appointmentusers_ctl" %>
<h5>appointmentusers</h5>
<ul class='formcontrol'>
<li runat="server" id="blkappointment_fk">
<span class='label'>appointment_fk</span>
<asp:DropDownList ID="appointment_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkuser_fk">
<span class='label'>user_fk</span>
<asp:DropDownList ID="user_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

