<%@ Control Language="VB" AutoEventWireup="false" CodeFile="appointmenttypes_ctl.ascx.vb" Inherits="appointmenttypes_ctl" %>
<h5>appointmenttypes</h5>
<ul class='formcontrol'>
<li runat="server" id="blkappointmenttypename">
<span class='label'>appointmenttypename</span>
<asp:TextBox EnableViewState="false" ID="appointmenttypename" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
<li runat="server" id="blkforeignkeyname">
<span class='label'>foreignkeyname</span>
<asp:TextBox EnableViewState="false" ID="foreignkeyname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

