<%@ Control Language="VB" AutoEventWireup="false" CodeFile="bubbleagreements_ctl.ascx.vb" Inherits="bubbleagreements_ctl" %>
<h5>Select the Agreement to Attach</h5>
<ul class='formcontrol'>
<li runat="server" id="blkbubble_fk">
<span class='label'>Bubble</span>
<asp:DropDownList ID="bubble_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkagreement_fk">
<span class='label'>Agreement</span>
<asp:DropDownList ID="agreement_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

