<%@ Control Language="VB" AutoEventWireup="false" CodeFile="cm_rfqs_ctl.ascx.vb" Inherits="cm_rfqs_ctl" %>
<h5>cm_rfqs</h5>
<ul class='formcontrol'>
<li runat="server" id="blkrfqdescription">
<span class='label'>rfqdescription</span>
<asp:TextBox EnableViewState="false" ID="rfqdescription" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
<li runat="server" id="blkorganisation_fk">
<span class='label'>organisation_fk</span>
<asp:DropDownList ID="organisation_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

