<%@ Control Language="VB" AutoEventWireup="false" CodeFile="cm_rfqsites_ctl.ascx.vb" Inherits="cm_rfqsites_ctl" %>
<h5>cm_rfqsites</h5>
<ul class='formcontrol'>
<li runat="server" id="blkcm_rfq_fk">
<span class='label'>cm_rfq_fk</span>
<asp:DropDownList ID="cm_rfq_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blksite_fk">
<span class='label'>site_fk</span>
<asp:DropDownList ID="site_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

