<%@ Control Language="VB" AutoEventWireup="false" CodeFile="contactpurposes_ctl.ascx.vb" Inherits="contactpurposes_ctl" %>
<h5>contactpurposes</h5>
<ul class='formcontrol'>
<li runat="server" id="blkpurposename">
<span class='label'>purposename</span>
<asp:TextBox EnableViewState="false" ID="purposename" runat="server" cssClass="input_num"  />
</li>
</ul>

