<%@ Control Language="VB" AutoEventWireup="false" CodeFile="contactlocations_ctl.ascx.vb" Inherits="contactlocations_ctl" %>
<h5>contactlocations</h5>
<ul class='formcontrol'>
<li runat="server" id="blkcontactlocation">
<span class='label'>contactlocation</span>
<asp:TextBox EnableViewState="false" ID="contactlocation" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
<li runat="server" id="blkforphone">
<span class='label'>forphone</span>
<asp:CheckBox ID="forphone" runat="server" cssClass="input_chk" />
</li>
<li runat="server" id="blkforemail">
<span class='label'>foremail</span>
<asp:CheckBox ID="foremail" runat="server" cssClass="input_chk" />
</li>
</ul>

