<%@ Control Language="VB" AutoEventWireup="false" CodeFile="dataimportmethods_ctl.ascx.vb" Inherits="dataimportmethods_ctl" %>
<h5>dataimportmethods</h5>
<ul class='formcontrol'>
<li runat="server" id="blkmethodname">
<span class='label'>methodname</span>
<asp:TextBox EnableViewState="false" ID="methodname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

