<%@ Control Language="VB" AutoEventWireup="false" CodeFile="dataconsumptionanalysis_ctl.ascx.vb" Inherits="dataconsumptionanalysis_ctl" %>
<h5>dataconsumptionanalysis</h5>
<ul class='formcontrol'>
<li runat="server" id="blkmeterpoint_fk">
<span class='label'>meterpoint_fk</span>
<asp:TextBox EnableViewState="false" ID="meterpoint_fk" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
<li runat="server" id="blkagreement_fk">
<span class='label'>agreement_fk</span>
<asp:DropDownList ID="agreement_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkuser_fk">
<span class='label'>user_fk</span>
<asp:DropDownList ID="user_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

