<%@ Control Language="VB" AutoEventWireup="false" CodeFile="distributions_ctl.ascx.vb" Inherits="distributions_ctl" %>
<h5>distributions</h5>
<ul class='formcontrol'>
<li runat="server" id="blkdistribution_name">
<span class='label'>distribution_name</span>
<asp:TextBox EnableViewState="false" ID="distribution_name" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

