<%@ Control Language="VB" AutoEventWireup="false" CodeFile="emails_ctl.ascx.vb" Inherits="emails_ctl" %>
<h5>emails</h5>
<ul class='formcontrol'>
<li runat="server" id="blkemail">
<span class='label'>Email Address</span>
<asp:TextBox EnableViewState="false" ID="email" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

