<%@ Control Language="VB" AutoEventWireup="false" CodeFile="federations_ctl.ascx.vb" Inherits="federations_ctl" %>
<h5>federations</h5>
<ul class='formcontrol'>
<li runat="server" id="blkfederationname">
<span class='label'>federationname</span>
<asp:TextBox EnableViewState="false" ID="federationname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
<li runat="server" id="blkshortcode">
<span class='label'>shortcode</span>
<asp:TextBox EnableViewState="false" ID="shortcode" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

