<%@ Control Language="VB" AutoEventWireup="false" CodeFile="frequencys_ctl.ascx.vb" Inherits="frequencys_ctl" %>
<h5>frequencys</h5>
<ul class='formcontrol'>
<li runat="server" id="blkfrequencyname">
<span class='label'>frequencyname</span>
<asp:TextBox EnableViewState="false" ID="frequencyname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

