<%@ Control Language="VB" AutoEventWireup="false" CodeFile="heldpesk_servicelevels_ctl.ascx.vb" Inherits="heldpesk_servicelevels_ctl" %>
<h5>heldpesk_servicelevels</h5>
<ul class='formcontrol'>
<li runat="server" id="blkservicelevelname">
<span class='label'>servicelevelname</span>
<asp:TextBox EnableViewState="false" ID="servicelevelname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

