<%@ Control Language="VB" AutoEventWireup="false" CodeFile="helpdesklogondomains_ctl.ascx.vb" Inherits="helpdesklogondomains_ctl" %>
<h5>helpdesklogondomains</h5>
<ul class='formcontrol'>
<li runat="server" id="blklogon_domain_name">
<span class='label'>logon_domain_name</span>
<asp:TextBox EnableViewState="false" ID="logon_domain_name" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

