<%@ Control Language="VB" AutoEventWireup="false" CodeFile="helpdeskdomains_ctl.ascx.vb" Inherits="helpdeskdomains_ctl" %>
<h5>helpdeskdomains</h5>
<ul class='formcontrol'>
<li runat="server" id="blkdomain_name">
<span class='label'>domain_name</span>
<asp:TextBox EnableViewState="false" ID="domain_name" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

