<%@ Control Language="VB" AutoEventWireup="false" CodeFile="helpdesktemplategroups_ctl.ascx.vb" Inherits="helpdesktemplategroups_ctl" %>
<h5>helpdesktemplategroups</h5>
<ul class='formcontrol'>
<li runat="server" id="blkgroupname">
<span class='label'>Group Name</span>
<asp:TextBox EnableViewState="false" ID="groupname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

