<%@ Control Language="VB" AutoEventWireup="false" CodeFile="helpdeskitem2details_ctl.ascx.vb" Inherits="helpdeskitem2details_ctl" %>
<h5>helpdeskitem2details</h5>
<ul class='formcontrol'>
<li runat="server" id="blkrequestid">
<span class='label'>requestid</span>
<asp:TextBox EnableViewState="false" ID="requestid" runat="server" cssClass="input_num"  />
</li>
<li runat="server" id="blkcountry_fk">
<span class='label'>Country</span>
<asp:DropDownList ID="country_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkheldpesk_servicelevel_fk">
<span class='label'>Service Level</span>
<asp:DropDownList ID="heldpesk_servicelevel_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

