<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ldzs_ctl.ascx.vb" Inherits="ldzs_ctl" %>
<h5>ldzs</h5>
<ul class='formcontrol'>
<li runat="server" id="blkldz_name">
<span class='label'>ldz_name</span>
<asp:TextBox EnableViewState="false" ID="ldz_name" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

