<%@ Control Language="VB" AutoEventWireup="false" CodeFile="locationuses_ctl.ascx.vb" Inherits="locationuses_ctl" %>
<h5>locationuses</h5>
<ul class='formcontrol'>
<li runat="server" id="blkusename">
<span class='label'>usename</span>
<asp:TextBox EnableViewState="false" ID="usename" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

