<%@ Control Language="VB" AutoEventWireup="false" CodeFile="logreportautomations_ctl.ascx.vb" Inherits="logreportautomations_ctl" %>
<h5>logreportautomations</h5>
<ul class='formcontrol'>
<li runat="server" id="blkreportautomation_fk">
<span class='label'>reportautomation_fk</span>
<asp:DropDownList ID="reportautomation_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

