<%@ Control Language="VB" AutoEventWireup="false" CodeFile="matrix_ctl.ascx.vb" Inherits="matrix_ctl" %>
<ul class='formcontrol'>
<li runat="server" id="blkcustomername">
<span class='label'>Customer Name</span>
<asp:TextBox EnableViewState="false" ID="customername" TextMode="SingleLine" runat="server" cssClass="input_str" />
</li>
</ul>

