<%@ Control Language="VB" AutoEventWireup="false" CodeFile="matrixfiles_ctl.ascx.vb" Inherits="matrixfiles_ctl" %>
<h5>matrixfiles</h5>
<ul class='formcontrol'>
<li runat="server" id="blkoriginalfilename">
<span class='label'>originalfilename</span>
<asp:TextBox EnableViewState="false" ID="originalfilename" TextMode="Multiline" runat="server" cssClass="input_box" />
</li>
<li runat="server" id="blksavedfilename">
<span class='label'>savedfilename</span>
<asp:TextBox EnableViewState="false" ID="savedfilename" TextMode="Multiline" runat="server" cssClass="input_box" />
</li>
</ul>

