<%@ Control Language="VB" AutoEventWireup="false" CodeFile="messagetypes_ctl.ascx.vb" Inherits="messagetypes_ctl" %>
<h5>messagetypes</h5>
<ul class='formcontrol'>
<li runat="server" id="blkmessagetype">
<span class='label'>messagetype</span>
<asp:TextBox EnableViewState="false" ID="messagetype" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

