<%@ Control Language="VB" AutoEventWireup="false" CodeFile="meterpointnotes_ctl.ascx.vb" Inherits="meterpointnotes_ctl" %>
<h5>meterpointnotes</h5>
<ul class='formcontrol'>
<li runat="server" id="blkmeterpoint_fk">
<span class='label'>meterpoint_fk</span>
<asp:TextBox EnableViewState="false" ID="meterpoint_fk" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
<li runat="server" id="blknote_fk">
<span class='label'>note_fk</span>
<asp:DropDownList ID="note_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

