<%@ Control Language="VB" AutoEventWireup="false" CodeFile="notes_ctl.ascx.vb" Inherits="notes_ctl" %>
<h5>notes</h5>
<ul class='formcontrol'>
<li runat="server" id="blknote">
<span class='label'>note</span>
<asp:TextBox EnableViewState="false" ID="note" TextMode="Multiline" runat="server" cssClass="input_box" />
</li>
</ul>

