<%@ Control Language="VB" AutoEventWireup="false" CodeFile="notetypes_ctl.ascx.vb" Inherits="notetypes_ctl" %>
<h5>notetypes</h5>
<ul class='formcontrol'>
<li runat="server" id="blktypename">
<span class='label'>typename</span>
<asp:TextBox EnableViewState="false" ID="typename" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
<li runat="server" id="blkcontrolname">
<span class='label'>controlname</span>
<asp:TextBox EnableViewState="false" ID="controlname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

