<%@ Control Language="VB" AutoEventWireup="false" CodeFile="note3details_ctl.ascx.vb" Inherits="note3details_ctl" %>
<h5>note3details</h5>
<ul class='formcontrol'>
<li runat="server" id="blkperson_fk">
<span class='label'>person_fk</span>
<asp:DropDownList ID="person_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blklocation_fk">
<span class='label'>location_fk</span>
<asp:DropDownList ID="location_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

