<%@ Control Language="VB" AutoEventWireup="false" CodeFile="note2details_ctl.ascx.vb" Inherits="note2details_ctl" %>
<h5>note2details</h5>
<ul class='formcontrol'>
<li runat="server" id="blkperson_fk">
<span class='label'>person_fk</span>
<asp:DropDownList ID="person_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkphone_fk">
<span class='label'>phone_fk</span>
<asp:DropDownList ID="phone_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

