<%@ Control Language="VB" AutoEventWireup="false" CodeFile="notificationtargets_ctl.ascx.vb" Inherits="notificationtargets_ctl" %>
<h5>notificationtargets</h5>
<ul class='formcontrol'>
<li runat="server" id="blknotification_fk">
<span class='label'>notification_fk</span>
<asp:DropDownList ID="notification_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkuser_fk">
<span class='label'>user_fk</span>
<asp:DropDownList ID="user_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

