<%@ Control Language="VB" AutoEventWireup="false" CodeFile="organisationlocations_ctl.ascx.vb" Inherits="organisationlocations_ctl" %>
<h5>organisationlocations</h5>
<ul class='formcontrol'>
<li runat="server" id="blkorganisation_fk">
<span class='label'>organisation_fk</span>
<asp:DropDownList ID="organisation_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blklocation_fk">
<span class='label'>location_fk</span>
<asp:DropDownList ID="location_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blklocationuse_fk">
<span class='label'>locationuse_fk</span>
<asp:DropDownList ID="locationuse_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

