<%@ Control Language="VB" AutoEventWireup="false" CodeFile="organisationnotes_ctl.ascx.vb" Inherits="organisationnotes_ctl" %>
<h5>organisationnotes</h5>
<ul class='formcontrol'>
<li runat="server" id="blkorganisation_fk">
<span class='label'>organisation_fk</span>
<asp:DropDownList ID="organisation_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blknote_fk">
<span class='label'>note_fk</span>
<asp:DropDownList ID="note_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

