<%@ Control Language="VB" AutoEventWireup="false" CodeFile="personnotes_ctl.ascx.vb" Inherits="personnotes_ctl" %>
<h5>personnotes</h5>
<ul class='formcontrol'>
<li runat="server" id="blkperson_fk">
<span class='label'>person_fk</span>
<asp:DropDownList ID="person_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blknote_fk">
<span class='label'>note_fk</span>
<asp:DropDownList ID="note_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

