<%@ Control Language="VB" AutoEventWireup="false" CodeFile="phonecallnotes_ctl.ascx.vb" Inherits="phonecallnotes_ctl" %>
<h5>phonecallnotes</h5>
<ul class='formcontrol'>
<li runat="server" id="blkphonecall_fk">
<span class='label'>phonecall_fk</span>
<asp:DropDownList ID="phonecall_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blknote_fk">
<span class='label'>note_fk</span>
<asp:DropDownList ID="note_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

