<%@ Control Language="VB" AutoEventWireup="false" CodeFile="phonecalls_ctl.ascx.vb" Inherits="phonecalls_ctl" %>
<h5>phonecalls</h5>
<ul class='formcontrol'>
<li runat="server" id="blkphone_fk">
<span class='label'>phone_fk</span>
<asp:DropDownList ID="phone_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkcalldate">
<span class='label'>calldate</span>
<asp:TextBox EnableViewState="false" ID="calldate" runat="server" cssClass="input_dtm" />
</li>
</ul>

