<%@ Control Language="VB" AutoEventWireup="false" CodeFile="phonecallpersons_ctl.ascx.vb" Inherits="phonecallpersons_ctl" %>
<h5>phonecallpersons</h5>
<ul class='formcontrol'>
<li runat="server" id="blkphonecall_fk">
<span class='label'>phonecall_fk</span>
<asp:DropDownList ID="phonecall_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkperson_fk">
<span class='label'>person_fk</span>
<asp:DropDownList ID="person_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

