<%@ Control Language="VB" AutoEventWireup="false" CodeFile="profileclasses_ctl.ascx.vb" Inherits="profileclasses_ctl" %>
<h5>profileclasses</h5>
<ul class='formcontrol'>
<li runat="server" id="blkcode">
<span class='label'>code</span>
<asp:TextBox EnableViewState="false" ID="code" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
<li runat="server" id="blkdescription">
<span class='label'>description</span>
<asp:TextBox EnableViewState="false" ID="description" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

