<%@ Control Language="VB" AutoEventWireup="false" CodeFile="regions_ctl.ascx.vb" Inherits="regions_ctl" %>
<h5>regions</h5>
<ul class='formcontrol'>
<li runat="server" id="blkregionname">
<span class='label'>regionname</span>
<asp:TextBox EnableViewState="false" ID="regionname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
<li runat="server" id="blkcountry_fk">
<span class='label'>country_fk</span>
<asp:DropDownList ID="country_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

