<%@ Control Language="VB" AutoEventWireup="false" CodeFile="reporttypes_ctl.ascx.vb" Inherits="reporttypes_ctl" %>
<h5>reporttypes</h5>
<ul class='formcontrol'>
<li runat="server" id="blkreporttypename">
<span class='label'>Report Type</span>
<asp:TextBox EnableViewState="false" ID="reporttypename" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

