<%@ Control Language="VB" AutoEventWireup="false" CodeFile="sitevisitpersons_ctl.ascx.vb" Inherits="sitevisitpersons_ctl" %>
<h5>sitevisitpersons</h5>
<ul class='formcontrol'>
<li runat="server" id="blksitevisit_fk">
<span class='label'>sitevisit_fk</span>
<asp:DropDownList ID="sitevisit_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkperson_fk">
<span class='label'>person_fk</span>
<asp:DropDownList ID="person_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

