<%@ Control Language="VB" AutoEventWireup="false" CodeFile="sitevisitnotes_ctl.ascx.vb" Inherits="sitevisitnotes_ctl" %>
<h5>sitevisitnotes</h5>
<ul class='formcontrol'>
<li runat="server" id="blksitevisit_fk">
<span class='label'>sitevisit_fk</span>
<asp:DropDownList ID="sitevisit_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blknote_fk">
<span class='label'>note_fk</span>
<asp:DropDownList ID="note_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

