<%@ Control Language="VB" AutoEventWireup="false" CodeFile="sitenotes_ctl.ascx.vb" Inherits="sitenotes_ctl" %>
<h5>sitenotes</h5>
<ul class='formcontrol'>
<li runat="server" id="blksite_fk">
<span class='label'>site_fk</span>
<asp:DropDownList ID="site_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blknote_fk">
<span class='label'>note_fk</span>
<asp:DropDownList ID="note_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

