<%@ Control Language="VB" AutoEventWireup="false" CodeFile="sourcinggroups_ctl.ascx.vb" Inherits="sourcinggroups_ctl" %>
<h5>sourcinggroups</h5>
<ul class='formcontrol'>
<li runat="server" id="blkgroupname">
<span class='label'>groupname</span>
<asp:TextBox EnableViewState="false" ID="groupname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
<li runat="server" id="blkteamname">
<span class='label'>teamname</span>
<asp:TextBox EnableViewState="false" ID="teamname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
<li runat="server" id="blkhd_group_id">
<span class='label'>hd_group_id</span>
<asp:TextBox EnableViewState="false" ID="hd_group_id" runat="server" cssClass="input_num"  />
</li>
</ul>

