<%@ Control Language="VB" AutoEventWireup="false" CodeFile="surveytimetocompletes_ctl.ascx.vb" Inherits="surveytimetocompletes_ctl" %>
<h5>surveytimetocompletes</h5>
<ul class='formcontrol'>
<li runat="server" id="blksurveytimename">
<span class='label'>surveytimename</span>
<asp:TextBox EnableViewState="false" ID="surveytimename" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

