<%@ Control Language="VB" AutoEventWireup="false" CodeFile="survey2details_ctl.ascx.vb" Inherits="survey2details_ctl" %>
<h4 style="width:555px;">Analyst Survey - 001</h4>
<ul class='formcontrol'>
<li runat="server" id="blkintro">
<span class='label'><strong>I was satisfied that the Client Manager...</strong></span>
<asp:TextBox EnableViewState="false" ID="lblintro" runat="server" style="border:0px none black ; background-color:transparent;" Enabled="false" ForeColor="Transparent" />
</li>
<li runat="server" id="blkhelpdesk_id">
<span class='label'>Helpdesk ID<span class='pop'>The request id of the ticket from helpdesk</span></span>
<asp:TextBox EnableViewState="false" ID="helpdesk_id" runat="server" cssClass="input_num"  />
</li>
<li runat="server" id="blkselecteduser_fk">
<span class='label'>User<span class='pop'>The user_fk of the user who should be doing the survey</span></span>
<asp:DropDownList ID="selecteduser_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkquestion1_surveyanswerfivescale_fk">
<span class='label'>Had a good knowledge of their customer<span class='pop'></span></span>
<asp:DropDownList ID="question1_surveyanswerfivescale_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkquestion2_surveyanswerfivescale_fk">
<span class='label'>Organised his/her activities and workload well<span class='pop'></span></span>
<asp:DropDownList ID="question2_surveyanswerfivescale_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkquestion3_surveyanswerfivescale_fk">
<span class='label'>Was proactive in responding to questions<span class='pop'>CM didn’t refer to you for answers they should already be able to give</span></span>
<asp:DropDownList ID="question3_surveyanswerfivescale_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkquestion4_surveyanswerfivescale_fk">
<span class='label'>Pressed for appropriate closure from the customer<span class='pop'></span></span>
<asp:DropDownList ID="question4_surveyanswerfivescale_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkquestion5_surveyanswerfivescale_fk">
<span class='label'>Treated me with respect in their interactions with me<span class='pop'></span></span>
<asp:DropDownList ID="question5_surveyanswerfivescale_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkcomments">
<span class='label'>Comments<span class='pop'>Any additional comments</span></span>
<asp:TextBox EnableViewState="false" ID="comments" TextMode="Multiline" runat="server" cssClass="input_box" />
</li>
</ul>

