<%@ Control Language="VB" AutoEventWireup="false" CodeFile="surveyanswersixscales_ctl.ascx.vb" Inherits="surveyanswersixscales_ctl" %>
<h5>surveyanswersixscales</h5>
<ul class='formcontrol'>
<li runat="server" id="blksurveyanswername">
<span class='label'>surveyanswername</span>
<asp:TextBox EnableViewState="false" ID="surveyanswername" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

