<%@ Control Language="VB" AutoEventWireup="false" CodeFile="surveytypes_ctl.ascx.vb" Inherits="surveytypes_ctl" %>
<h5>surveytypes</h5>
<ul class='formcontrol'>
<li runat="server" id="blksurveytypename">
<span class='label'>surveytypename</span>
<asp:TextBox EnableViewState="false" ID="surveytypename" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

