<%@ Control Language="VB" AutoEventWireup="false" CodeFile="surveyeaseofcompletes_ctl.ascx.vb" Inherits="surveyeaseofcompletes_ctl" %>
<h5>surveyeaseofcompletes</h5>
<ul class='formcontrol'>
<li runat="server" id="blksurveyeasename">
<span class='label'>surveyeasename</span>
<asp:TextBox EnableViewState="false" ID="surveyeasename" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

