<%@ Control Language="VB" AutoEventWireup="false" CodeFile="surveystatuses_ctl.ascx.vb" Inherits="surveystatuses_ctl" %>
<h5>surveystatuses</h5>
<ul class='formcontrol'>
<li runat="server" id="blkstatusname">
<span class='label'>statusname</span>
<asp:TextBox EnableViewState="false" ID="statusname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

