<%@ Control Language="VB" AutoEventWireup="false" CodeFile="surveyurls_ctl.ascx.vb" Inherits="surveyurls_ctl" %>
<h5>surveyurls</h5>
<ul class='formcontrol'>
<li runat="server" id="blksurvey_fk">
<span class='label'>survey_fk</span>
<asp:DropDownList ID="survey_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkurl">
<span class='label'>url</span>
<asp:TextBox EnableViewState="false" ID="url" TextMode="Multiline" runat="server" cssClass="input_box" />
</li>
</ul>

