<%@ Control Language="VB" AutoEventWireup="false" CodeFile="throughputs_ctl.ascx.vb" Inherits="throughputs_ctl" %>
<h5>throughputs</h5>
<ul class='formcontrol'>
<li runat="server" id="blkthroughputname">
<span class='label'>Name</span>
<asp:TextBox EnableViewState="false" ID="throughputname" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
<li runat="server" id="blkunit_fk">
<span class='label'>Unit</span>
<asp:DropDownList ID="unit_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

