<%@ Control Language="VB" AutoEventWireup="false" CodeFile="titles_ctl.ascx.vb" Inherits="titles_ctl" %>
<h5>titles</h5>
<ul class='formcontrol'>
<li runat="server" id="blktitle">
<span class='label'>title</span>
<asp:TextBox EnableViewState="false" ID="title" TextMode="Singleline" runat="server" cssClass="input_str" />
</li>
</ul>

