<%@ Control Language="VB" AutoEventWireup="false" CodeFile="usermessages_ctl.ascx.vb" Inherits="usermessages_ctl" %>
<h5>usermessages</h5>
<ul class='formcontrol'>
<li runat="server" id="blkuser_fk">
<span class='label'>user_fk</span>
<asp:DropDownList ID="user_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkmessage_fk">
<span class='label'>message_fk</span>
<asp:DropDownList ID="message_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

