<%@ Control Language="VB" AutoEventWireup="false" CodeFile="userlocations_ctl.ascx.vb" Inherits="userlocations_ctl" %>
<h5>userlocations</h5>
<ul class='formcontrol'>
<li runat="server" id="blkuser_fk">
<span class='label'>User</span>
<asp:DropDownList ID="user_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blklocation_fk">
<span class='label'>Location</span>
<asp:DropDownList ID="location_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blklocationuse_fk">
<span class='label'>Location Use</span>
<asp:DropDownList ID="locationuse_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

