<%@ Control Language="VB" AutoEventWireup="false" CodeFile="userhelpdesktemplates_ctl.ascx.vb" Inherits="userhelpdesktemplates_ctl" %>
<h5>userhelpdesktemplates</h5>
<ul class='formcontrol'>
<li runat="server" id="blkuser_fk">
<span class='label'>User</span>
<asp:DropDownList ID="user_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkhelpdesktemplate_fk">
<span class='label'>Template</span>
<asp:DropDownList ID="helpdesktemplate_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

