<%@ Control Language="VB" AutoEventWireup="false" CodeFile="userstructures_ctl.ascx.vb" Inherits="userstructures_ctl" %>
<h5>userstructures</h5>
<ul class='formcontrol'>
<li runat="server" id="blkmanageruser_fk">
<span class='label'>manageruser_fk</span>
<asp:DropDownList ID="manageruser_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkuser_fk">
<span class='label'>user_fk</span>
<asp:DropDownList ID="user_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

