<%@ Control Language="VB" AutoEventWireup="false" CodeFile="useremails_ctl.ascx.vb" Inherits="useremails_ctl" %>
<h5>useremails</h5>
<ul class='formcontrol'>
<li runat="server" id="blkuser_fk">
<span class='label'>User</span>
<asp:DropDownList ID="user_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkemail_fk">
<span class='label'>Email</span>
<asp:DropDownList ID="email_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkcontactlocation_fk">
<span class='label'>Contact Location</span>
<asp:DropDownList ID="contactlocation_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

