<%@ Control Language="VB" AutoEventWireup="false" CodeFile="userphones_ctl.ascx.vb" Inherits="userphones_ctl" %>
<h5>userphones</h5>
<ul class='formcontrol'>
<li runat="server" id="blkuser_fk">
<span class='label'>User</span>
<asp:DropDownList ID="user_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkphone_fk">
<span class='label'>Phone</span>
<asp:DropDownList ID="phone_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkcontactlocation_fk">
<span class='label'>Contact Location</span>
<asp:DropDownList ID="contactlocation_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

