<%@ Control Language="VB" AutoEventWireup="false" CodeFile="usergroups_ctl.ascx.vb" Inherits="usergroups_ctl" %>
<h5>usergroups</h5>
<ul class='formcontrol'>
<li runat="server" id="blkuser_fk">
<span class='label'>user_fk</span>
<asp:DropDownList ID="user_fk" runat="server" cssClass="input_ddl" />
</li>
<li runat="server" id="blkgroup_fk">
<span class='label'>group_fk</span>
<asp:DropDownList ID="group_fk" runat="server" cssClass="input_ddl" />
</li>
</ul>

