<%@ Page Language="VB" MasterPageFile="~/design/masters/systems.master" AutoEventWireup="false" CodeFile="activity.aspx.vb" Inherits="backend_activity" title="Untitled Page" %>
<%@ Register Src="../controls/plugins/seekperson.ascx" TagName="seekperson" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="content" Runat="Server">


<script language="javascript" type="text/javascript">
var user_pk=0;
</script>

    <h3>Selected User</h3>
    <input type="hidden" id="user_pk" name="user_pk" value="0" />
    <ul class="formcontrol list">
        <li><span class="label">User</span><span id="username" class="input">Not Selected</span></li>
        <li><span class="label">&nbsp;</span>
            <uc1:seekperson 
                ID="getperson" runat="server" Label="Locate User" 
                TargetValueControlName="user_pk" 
                TargetDisplayControlName="username" 
                TargetFunctionName="loadusers" />
               <div id='img1' class="notipop" style="position:absolute;height:0px;display:none;"><img class="wait" /></div>
        </li>
    </ul> 
    <h3>Login Activity</h3>
    
    <div class="list" id="lstlogins">
    </div>

     

</asp:Content>
