<%@ Page Language="VB" MasterPageFile="~/design/masters/systems.master" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="backend_Default" title="Untitled Page" %>
<%@ Register Src="~/controls/generic/notify.ascx" TagName="notify" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="content" Runat="Server">
        <h3>Systems Home</h3>
        Coming soon. 
</asp:Content>

