﻿<%@ Page Title="" Language="VB" MasterPageFile="~/design/masters/user.master" AutoEventWireup="false" CodeFile="default.aspx.vb" Inherits="corehelpdesk_sourcing_1_tender_request_default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="content" Runat="Server">

<h3>New Tender Request</h3> 
<br />
<asp:PlaceHolder ID="detailcontrol" runat="server" />


</asp:Content>

