﻿<%@ Page Title="" Language="VB" MasterPageFile="~/design/masters/external-navfree.master" AutoEventWireup="false" CodeFile="generaterfq.aspx.vb" Inherits="corecm_generaterfq" %>
<%@ Register assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="content" Runat="Server">

<rsweb:ReportViewer ID="myReportViewer" Height="500px" AsyncRendering="true" ShowPrintButton="false" runat="server" Width="400px" ShowRefreshButton="false" ShowToolBar="true" ShowZoomControl="false" ShowParameterPrompts="false" ShowBackButton="false" ShowCredentialPrompts="false" ShowFindControls="false" ShowPageNavigationControls="false" ShowPromptAreaButton="false">
</rsweb:ReportViewer> 

</asp:Content>

